/* app css stylesheet */

/* ================= GENERALS ================= */

.description p {
    margin-bottom: 50px;
}

article p {
    font-size: 14px;
}
.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}



/* ================= CONTENT ================= */
.form-group a:hover {
    text-decoration: none;
}



/* Mobile Devices */
@media (min-width: 768px){
    .flex {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}


/* Bootstrap override */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #ffffff;
  opacity: 1;
}
section.success .form-control[disabled], section.success .form-control[readonly], section.success fieldset[disabled] .form-control {
    background-color: #18BC9C;
    opacity: 1;
}

